/* City Builder panel */

#panel-buildings {
	max-width: 1190px;
	max-height: 630px;
	height: auto;
	width: 630px;
}

#panel-buildings .b-desc {
	margin-bottom: 10px;
}

#panel-buildings.expanded {
	width: 1080px !important;
}

#panel-buildings .building-item {
	width: 150px;
	height: 150px;
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
	position: relative;
	box-shadow: $box-shadow-enabled;
	cursor: pointer;
}

#panel-buildings .building-item:nth-child(4n) {
	margin-right: 0;
}

#panel-buildings .building-item.active {
	box-shadow: $box-shadow-active;
}

#panel-buildings .building-item.disabled {
	box-shadow: $box-shadow-disabled;
}

#panel-buildings .building-item .title {
	padding-top: 6px;
	display: inline-block;
	font-size: 11px;
}

#panel-buildings .building-item img.building {
	width: 130px;
}

#panel-buildings .bldg-tabs {
	padding: 10px 0 0 0;
	overflow: auto;
	max-height: 534px;
}
