/* Other panels */

#panel-new-spy,
#panel-new-scout,
#panel-new-caravan {
	max-width: 660px;
	max-height: 600px;
	width: 280px;
}

#panel-new-army {
	max-width: 660px;
	max-height: 600px;
}
#panel-academy {
	max-height: 700px;
	max-width: 620px;
	width: 620px;
}

#panel-academy .column-left {
	width: 290px;
	max-height: 400px;
	overflow: auto;
	margin-top:10px;
	float: left;
}

#panel-academy .column-right {
	width: 298px;
	float: left;
	margin-left: 10px;
}

#panel-academy .technology {
	cursor: pointer;
	float: left;
	margin: 4px;
}

#panel-academy .technology.selected {
	opacity: 1;
}

#panel-academy .technology.selected img {
	box-shadow: $box-shadow-active;
}

#panel-academy .technology.has img {
	box-shadow: $box-shadow-disabled;
}

#panel-academy .technology img {
	width: 46px;
	height: 46px;
	border-radius: 100%;
	padding: 10px;
	box-shadow: $box-shadow-enabled;
}

#panel-church h2,
#panel-embassy h2,
#panel-academy h2 {
	text-align: center;
}

#panel-tavern {
	max-height: 700px;
	max-width: 640px;
	width: 640px;
}

#panel-embassy {
	max-height: 600px;
	max-width: 720px;
	width: 720px;
}

#panel-church {
	max-height: 600px;
	max-width: 620px;
	width: 620px;
}

#panel-help .ui-tabs-panel li > a,
#panel-help p > a {
	text-decoration: underline;
}

#panel-ranks {
	width: 300px;
}

#panel-ranks .ranks-list {
	height: 300px;
	overflow: auto;
}

#panel-church .religion-list {
	padding: 20px;
}

#panel-church .religion-list .religion:nth-child(4), 
#panel-church .religion-list .religion:nth-child(8) {
	margin-right: 0;
}

#panel-church .religion-list .religion {
	border-radius: 100%;
	width: 128px;
	height: 128px;
	margin: 0 10px 10px 0;
	float: left;
	box-shadow: $box-shadow-enabled;
	position: relative;
	cursor: pointer;
}

#panel-church .religion-list .religion.selected {
	box-shadow: $box-shadow-active;
}

#panel-church .religion-list .religion span {
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
	width: 128px;
	text-align: center;
}

#panel-new-caravan .caravan-resources {
	overflow: auto;
	max-height: 200px;
}

#panel-tavern .hero-list {
	width: 70px;
	padding: 10px 20px;
}

#panel-tavern .hero-info {
	width: 300px;
	padding: 20px;
}

#panel-tavern .hero-items {
	width: 160px;
	padding: 0;
}

#panel-tavern .hero-items .slot {
	width: 46px;
	height: 50px;
	font-size: 11px;
	float: left;
	text-align: center;
	margin: 0 4px 4px 0;
	position: relative;
	box-shadow: inset 0 0 3px 0 hsla(0, 0%, 0%, 0.75);
	font-size: 34px;
}

#panel-tavern .hero-info h3 {
	margin: 0 0 10px 0;
}

#panel-campaign {
	min-width: 400px;
}

#panel-place {
	width: 490px;
	max-width: 490px;
	max-height: 600px;
	height: auto;
}

#panel-barracks,
#panel-shipyard {
	width: 790px;
	max-width: 790px;
	height: auto;
	max-height: 600px;
}

#panel-council section dd,
#panel-barracks section dd,
#panel-shipyard section dd {
	width: auto;
}
