/* Sidebar */

.ui > aside {
	color: #fff;
	position: absolute;
	padding: 0 0 0 10px;
	position: fixed;
	top: 48px;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: #150f0c;
	height: 100%;
	box-sizing: border-box;

	.panel {
		position: static;
		top: 0;
		left: 0;
		z-index: 99997;
		background-color: $aside-bg;
		padding: 10px;
		box-shadow: 0 0 0 transparent;
		width: 310px;
		background: none;
		max-height: 100%;

		header {
			cursor: default;
			padding: 0;
		}

		section {
			height: calc(100% - 81px);
		}

		section p {
			text-align: justify;
		}

		.column {
			border-bottom: 1px solid #6e5036;
			margin-bottom: 10px;
			width: 100% !important;
			float: none;
		}

		.column:last-of-type {
			margin-left: 0 !important;
		}

		.preview-image { 
			height: 200px;
			position: relative;
		}

		.preview-image img { 
			max-width:100%;
			max-height: 200px; 
			width: auto; 
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.ui > aside:empty {
	display: none;
}
