/* Sidebar */

.ui aside .panel {
	position: static;
	top: 0;
	left: 0;
	z-index: 99997;
	background-color: #ECD0B7;
	color: #444;
	padding: 10px;
	box-shadow: 0 0 0 transparent;
}

.ui aside .panel {
	width: 310px;
	max-height: 100%;
}

.ui aside .panel header {
	cursor: default;
}

.ui aside .panel footer {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
}

.ui aside .panel section {
	overflow: scroll;
	height: calc(100% - 81px);
}

.ui aside .panel section p {
	text-align: justify;
}

.ui aside .panel .column img.building {
	width: 200px;
	margin: 0 auto;
	display: block;
}

.ui aside .panel .column {
	border-bottom: 1px solid #935F22;
	margin-bottom: 10px;
	width: 100% !important;
}

.ui aside .panel .column:last-of-type {
	margin-left: 0 !important;
}
