/* Windows */

.window {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: $window-fg;
	z-index: 99999;
	background: $window-bg;

	.logo {
		margin: 3% auto 0 auto;
		width: 300px;
		text-align: center;
		font-size: 62px;
	}

	fieldset {
		margin: 20px auto 0 auto;
		width: 360px;
		border: 0;
	}

	fieldset > p {
		font-size: 12px;
	}

	ul {
		margin-left: 20px;
	}

	.about-game,
	.options-game {
		position: relative;
		display: none;
		padding: 10px 0;
		margin: 0;
	}

	li > a,
	p > a {
		text-decoration: underline;
	}

	.ui-tabs-panel > div {
		padding: 20px;
	}

	.tabs ul li a {
		text-decoration: none;
	}

	input[type=password],
	input[type=text],
	select {
		border: 1px solid $input-border;
		background: transparent;
		color: $white;
		padding: 5px 10px;
		font-size: 14px;
	}

	select option {
		color: $black;
	}

	select {
		width: 122px;
	}

	input[type=password],
	input[type=text] {
		width: 100px;
	}

	.button {
		display: block;
		margin-top: 5px;
		border-radius: 3px;
		padding: 10px;
		text-shadow: -1px -1px 0 hsla(0, 0%, 0%, 0.3);
		color: $btn-secondary-fg;
		border: 1px solid $input-border;
		background-image: $btn-secondary-bg;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;

		&:hover {
			border: 1px solid #767255;
			background-image: $btn-secondary-bg-hover;
		}
	}

	.avatar-select {
		width: 100%;
		height: 180px;
		overflow: auto;
		padding: 0;
		margin: 0;
		
		img.avatar {
			cursor: pointer;
			border-radius: 100%;
			border: 0;
			padding: 0;
			margin: 0;
			width: 90px;
			height: 90px;
			float: left;
		}

		img.avatar.selected {
			box-shadow: $box-shadow-sec-active;
		}
	}

	dt {
		line-height: 20px;
		float: left;
		text-align: right;
		width: 45%;
		margin-bottom: 5px;
	}

	dl {
		width: 360px;
		margin: 10px auto;
	}
	dd {
		margin-left: 50%;
		line-height: 20px;
		margin-bottom: 5px;
	}

	.button.highlight,
	.toolbar a {
		border: 1px solid $btn-border;
		background-image: $btn-bg;
		color: $btn-fg;
	}

	.toolbar a:hover,
	.button.highlight:hover {
		border: 1px solid $btn-border-hover;
		background-image: $btn-bg-hover;
		color: $btn-fg;
	}

	.ui-control {
		border-radius: 3px;
		padding: 2px 10px;
		color: $black;
		font-size: 12px;
	}

	.ui-control.on {
		background-color: $control-on;
		box-shadow: 0 0 5px $control-on;
	}

	.ui-control.off {
		background-color: $control-off;
		box-shadow: 0 0 5px $control-off;
	}

	.github {
		position: absolute;
		top: 10px;
		right: 0;
	}
}
