/* Windows */

.window {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: $window-fg;
	z-index: 99999;
	background: $window-bg;

	.logo {
		margin: 3% auto 0 auto;
		width: 300px;
		text-align: center;
		font-size: 62px;
	}

	fieldset {
		margin: 20px auto 0 auto;
		width: 360px;
		border: 0;
	}

	fieldset > p {
		font-size: 14px;
	}

	ul {
		margin-left: 20px;
	}

	.about-game,
	.options-game {
		position: relative;
		display: none;
		padding: 10px 0;
		margin: 0;
	}

	li > a,
	p > a {
		text-decoration: underline;
	}

	.ui-tabs-panel > div {
		padding: 20px;
	}

	.tabs ul li a {
		text-decoration: none;
	}

	input[type=password],
	input[type=text],
	select {
		border: 1px solid $input-border;
		background: transparent;
		color: $white;
		padding: 5px 10px;
		font-size: 14px;
	}

	select option {
		color: $black;
	}

	select {
		width: 122px;
	}

	input[type=password],
	input[type=text] {
		width: 100px;
	}

	.button {
		display: block;
		margin-top: 5px;
		border-radius: 3px;
		padding: 10px;
		text-shadow: -1px -1px 0 hsla(0, 0%, 0%, 0.3);
		color: $btn-secondary-fg;
		border: 1px solid $input-border;
		background-image: $btn-secondary-bg;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;

		&:hover {
			border: 1px solid #767255;
			background-image: $btn-secondary-bg-hover;
		}
	}

	.avatar-select {
		width: 100%;
		height: 180px;
		overflow: auto;
		padding: 0;
		margin: 0;
		
		img.avatar {
			cursor: pointer;
			border-radius: 100%;
			border: 0;
			padding: 0;
			margin: 0;
			width: 90px;
			height: 90px;
			float: left;
		}

		img.avatar.selected {
			box-shadow: $box-shadow-sec-active;
		}
	}

	dt {
		line-height: 20px;
		float: left;
		text-align: right;
		width: 45%;
		margin-bottom: 5px;
	}

	dl {
		width: 360px;
		margin: 10px auto;
	}
	dd {
		margin-left: 50%;
		line-height: 20px;
		margin-bottom: 5px;
	}

	.button.highlight,
	.toolbar a {
		border: 1px solid $btn-border;
		background-image: $btn-bg;
		color: $btn-fg;
	}

	.toolbar a:hover,
	.button.highlight:hover {
		border: 1px solid $btn-border-hover;
		background-image: $btn-bg-hover;
		color: $btn-fg;
	}

	.ui-control {
		border-radius: 3px;
		padding: 2px 10px;
		color: $black;
		font-size: 14px;
	}

	.ui-control.on {
		background-color: $control-on;
		box-shadow: 0 0 5px $control-on;
	}

	.ui-control.off {
		background-color: $control-off;
		box-shadow: 0 0 5px $control-off;
	}

	.github {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}








.window fieldset {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: 
		url(../images/ui/border-top-left.png) no-repeat left top,
		url(../images/ui/border-top-right.png) no-repeat right top,
		url(../images/ui/border-bottom-right.png) no-repeat right bottom,
		url(../images/ui/border-bottom-left.png) no-repeat left bottom,
		url(../images/ui/border-top.png) repeat-x left top,
		url(../images/ui/border-right.png) repeat-y right bottom,
		url(../images/ui/border-bottom.png) repeat-x right bottom,
		url(../images/ui/border-left.png) repeat-y left bottom,
		url(../images/ui/panel-background.png) repeat left top;
	width: 460px;
	font-size: 18px;
	padding: 40px;
}


.window fieldset .about-game,
.window fieldset .new-game {
	border: 1px solid #6e5036;
	background-color: #150f0c;
	padding: 20px;
}

.window fieldset {
	width: 460px;
	font-size: 18px;
	padding: 40px;
}
.window .new-game dd input,
.window .new-game dd select {
	border: 1px solid #563a25;
	box-shadow: inset 0px 0px 2px #1e0f05;
	background: #201106;
	border-radius: 5px;
	height: 33px;
	box-sizing: border-box;
	font-size: 18px;
	color: #fff;
	padding: 0 8px !important;
	margin: 0 0 10px;
	width: 240px;
}
.window .new-game dl {
	width: 100%;
}
.window .new-game dd {
	margin-left: 38%;
}
.window .new-game dt {
	line-height: 33px;
	width: 35%;
}
.hr {
	padding: 0;
	margin: 5px 0 15px;
	border-top: 1px solid #251b13;
}
.window .button {
	font-size: 30px;
	margin-top: 10px;
	padding: 7px 10px !important;
	border: none !important;
	background: 
		url(../images/ui/buttons-bg-corners.png) no-repeat -219px 0px,
		url(../images/ui/buttons-bg-corners.png) no-repeat calc(100% + 131px) 0,
		url(../images/ui/buttons-bg.png) repeat-x 0 0
}
.window .button.highlight {
	background: 
		url(../images/ui/buttons-bg-corners.png) no-repeat -219px -106px,
		url(../images/ui/buttons-bg-corners.png) no-repeat calc(100% + 131px) -106px,
		url(../images/ui/buttons-bg.png) repeat-x 0 -106px
}

.window .button.button-gray {
	background: 
		url(../images/ui/buttons-bg-corners.png) no-repeat -219px -159px,
		url(../images/ui/buttons-bg-corners.png) no-repeat calc(100% + 131px) -159px,
		url(../images/ui/buttons-bg.png) repeat-x 0 -159px
}

.window .button.button-green {
	background: 
		url(../images/ui/buttons-bg-corners.png) no-repeat -219px -212px,
		url(../images/ui/buttons-bg-corners.png) no-repeat calc(100% + 131px) -212px,
		url(../images/ui/buttons-bg.png) repeat-x 0 -212px
}

.window .button.button-blue {
	background: 
		url(../images/ui/buttons-bg-corners.png) no-repeat -219px -265px,
		url(../images/ui/buttons-bg-corners.png) no-repeat calc(100% + 131px) -265px,
		url(../images/ui/buttons-bg.png) repeat-x 0 -265px
}

.window .button:hover {
	font-size: 30px;
	padding: 7px 10px;
	border: none;
	background: 
		url(../images/ui/buttons-bg-corners.png) no-repeat -219px -53px,
		url(../images/ui/buttons-bg-corners.png) no-repeat calc(100% + 131px) -53px,
		url(../images/ui/buttons-bg.png) repeat-x 0 -53px !important;
}

.window .new-game dl {
	margin: 20px auto;
}
.window .avatar-select-top {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%, -67%);
	width: 128px;
	height: 128px;
	background: url(../images/ui/avatar-background.png) no-repeat center center;
	background-size: cover;
	padding: 13px;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
}
.change-picture {
	right: 100%;
	left: auto;
	top: 50%;
	margin:0;
	transform: translate(-85px, -46px);
	white-space: normal;
	font-size: 15px;
	position: absolute;
	color: #fff;
	font-size: 18px;
	z-index: 4;
}
.window .avatar-select {
	display: none;
	height: 320px;
	position: absolute;
	top: 61px;
	left: 61px;
	right: 61px;
	width: auto;
	background: #150f0c;
}
.window .avatar-select img.avatar {
	width: 100px;
	height: 100px;
	margin: 2px;
}
.window fieldset .about-game {
	border-top: none;
}
