/* Variables for the game */

$font-family:			'Poppins, Arial, Helvetica';

/* Panels */

$panel-background: 		'#fff';
$panel-foreground: 		'#383026';

/* Windows */

$window-background: 	'#45484d';
$window-foreground: 	'#fff';
