/* Progress bars */

.progress {
	height: 20px;
	border: 1px solid $darkgrey;
	background: $progress-bg;
	line-height: 100%;
	display: inline-block;
	position: relative;
	padding: 0;

	&.small {
		width: 200px;
	}

	&.big {
		width: 400px;
	}

	&.large {
		width: 400px;
		height: 40px;
		margin: 0 auto;
		display: block;
	}

	&.large .bar {
		height: 40px;
	}

	.bar {
		background: $progress-bar-bg;
		height: 20px;
		border-right: 1px solid $darkgrey; 
	}

	.bar p {
		position: absolute;
		text-align: center;
		width: 100%;
		margin: 0;
		line-height: 20px;
		text-shadow: 1px 1px 2px $black;
		font-size: 10px;
		color: $white;
	}

	&.large .bar p {
		line-height: 40px;
	}

	.bar.good {
		background: $progress-bar-bg-l1;
	}

	.bar.bad {
		background: $progress-bar-bg-l2;
	}

	.bar.vbad {
		background: $progress-bar-bg-l3;
	}

	.bar.ubad {
		background: $progress-bar-bg-l4;
	}

	.bar.vgood {
		background: $progress-bar-bg-l5;
	}

	.bar.ugood {
		background: $progress-bar-bg-l6;
	}
}
