/* Bottom panel with game actions */

footer a[data-panel=trades] {
	background-image: url(../images/assets/ui/toolbar/trades.png);
}

footer a[data-panel=storage] {
	background-image: url(../images/assets/ui/toolbar/storage.png);
}

footer a[data-panel=buildings] {
	background-image: url(../images/assets/ui/toolbar/build.png);
}

footer a[data-panel=council] {
	background-image: url(../images/assets/ui/toolbar/council.png);
}

footer a[data-panel=world] {
	background-image: url(../images/assets/ui/toolbar/worldmap.png);
}

footer a[data-panel=ranks] {
	background-image: url(../images/assets/ui/toolbar/ranks.png);
}

footer a[data-panel=debug] {
	background-image: url(../images/assets/ui/toolbar/debug.png);
}

footer a[data-panel=help] {
	background-image: url(../images/assets/ui/toolbar/help.png);
}

/* Panel footer icons */

.panel header .close {
	background: transparent url(../images/ui/close.png) no-repeat;
}

.panel footer .attack {
	background: transparent url(../images/assets/ui/icons/attack.png) no-repeat;
}

.panel footer .spy {
	background: transparent url(../images/assets/ui/icons/spy.png) no-repeat;
}

.panel footer .scout {
	background: transparent url(../images/assets/ui/icons/spy.png) no-repeat;
}

.panel footer .ceasefire {
	background: transparent url(../images/assets/ui/icons/sign.png) no-repeat;
}

.panel footer .claim {
	background: transparent url(../images/assets/ui/icons/upgrade.png) no-repeat;
}

.panel footer .unclaim {
	background: transparent url(../images/assets/ui/icons/downgrade.png) no-repeat;
}

.panel footer .caravan {
	background: transparent url(../images/assets/ui/icons/caravan.png) no-repeat;
}

.panel footer .join {
	background: transparent url(../images/assets/ui/icons/home.png) no-repeat;
}

.panel footer .alliance {
	background: transparent url(../images/assets/ui/icons/alliance.png) no-repeat;
}

.panel footer .pact {
	background: transparent url(../images/assets/ui/icons/pact.png) no-repeat;
}

.panel footer .start {
	background: transparent url(../images/assets/ui/icons/start.png) no-repeat;
}

.panel footer .pause {
	background: transparent url(../images/assets/ui/icons/stop.png) no-repeat;
}

.panel footer .demolish {
	background: transparent url(../images/assets/ui/icons/demolish.png) no-repeat;
}

.panel footer .war {
	background: transparent url(../images/assets/ui/icons/war.png) no-repeat;
}

.panel footer .upgrade {
	background: transparent url(../images/assets/ui/icons/upgrade.png) no-repeat;
}

.panel footer .downgrade {
	background: transparent url(../images/assets/ui/icons/downgrade.png) no-repeat;
}

/* Building notifications */

.game .building .notification.error {
	background: transparent url(../images/assets/ui/icons/notify-error.png) no-repeat;
}

.game .building .notification.paused {
	background: transparent url(../images/assets/ui/icons/notify-pause.png) no-repeat;
}

.game .building .notification.requirements {
	background: transparent url(../images/assets/ui/icons/notify-missing.png) no-repeat;
}

/* Others */

.ach.img {
	background: transparent url(../images/assets/ui/icon_achievement.png) no-repeat;
}

.loading {
	background: transparent url(../images/ui/loading.svg) no-repeat;
}

.notifications .notty .hide,
.achievements-notifications .notty .hide {
	background: transparent url(../images/ui/close.png) no-repeat;
}

.panel ul.advices li {
	background: transparent url(../images/ui/check.png) no-repeat left top;
}

.religion-list .religion {
	background: transparent url(../images/assets/ui/religion.png) no-repeat center;
}

.game {
	background: #000 url(../images/city/map.jpg) no-repeat;
}

.panel td a.btn.start {
	background: transparent url(../images/assets/ui/icons/start.png) no-repeat;
}

.panel td a.btn.pause {
	background: transparent url(../images/assets/ui/icons/stop.png) no-repeat;
}

#window-battle .battleground {
	background: #fff url(../images/battle/bg2.png) no-repeat;
}

.ui > aside {
	background: #ECD0B7 url(../images/ui/sidebar.png) repeat-y left top;
}

a.wikipedia {
	background: transparent url(../images/ui/wikipedia.png) no-repeat;
}

.ui > header {
	background: transparent url(../images/ui/resource-panel.png) repeat-x;
}