/* Tables */

table {
	width: 100%;
	padding: 0;
	border-spacing: 1px;
	border-collapse: separate;

	td {
		text-align: left;
		vertical-align: middle;
		padding: 10px;
	}

	thead td,
	tfoot td {
		padding: 10px;
	}

	tr.notify {
		background-color: hsla(0, 100%, 27%, 1);
	}

	td.center {
		text-align: center;
	}

	td img {
		vertical-align: middle;
	}

	tbody tr:hover {
		background-color: hsla(32, 62%, 36%, 0.4);
		color: $tbl-fg-hover;
		opacity: 1;
	}

	tr:hover td:first-child a {
		color: $white;
	}

	tr td:last-child a {
		border-radius: 3px;
		padding: 4px 10px;
		color: $white !important;
		text-transform: uppercase;
		text-align: center;
		font-size: 14px;
		text-decoration: none !important;
		display: inline-block;
	}

	tr td a.disabled {
		display: none;
	}

	tr td.large {
		width: 45%;
	}

	tr td.medium {
		width: 25%;
	}

	td a.sbtn {
		width: 28px;
		height: 28px;
		padding: 0 !important;
		border: 0 !important;
		background-size: contain !important;
	}

	thead td,
	tfoot td {
		background-color: hsla(0, 0, 0, 0.5);
		color: $btn-fg;
	}

	tr td:last-child a {
		border: 1px solid $btn-border;
		background-image: $btn-bg;
		color: $btn-fg;
	}

	tr td:last-child a:hover {
		border: 1px solid $btn-border-hover;
		background-image: $btn-bg-hover;
		color: $btn-fg;
	}
}
