/* Tabs */

.tabs > ul > li {
	float: left;
}

.tabs > div {

}

.tabs > ul > li > a {
	color: $anchor-fg-dark;
	text-decoration: none;
	padding: 6px 8px;
	display: block;
}

.tabs ul {
}

.tabs ul li.ui-tabs-active a {
	color: $white !important;
}

.tabs ul li.ui-tabs-active {
	background-image: $tab-bg;
	color: $tab-fg;
}

.ui-tabs-panel > p, 
.ui-tabs-panel > div > p {
	margin-top: 10px;
}

.ui-tabs-panel .contents {
	max-height: 340px;
	overflow: auto;
}

.ui-tabs-panel:after,
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-tabs-panel:after,
.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	min-height: 0;
}

.ui-tabs-panel {
	position: relative;
	margin-top: 10px;
}

.ui-tabs-panel > span {
	display: inline-block;
	padding: 4px 10px;
}

.ui-tabs .ui-tabs-nav li {
	position: relative;
	margin-right: 2px;
}
/*
.ui-tabs .ui-tabs-nav li:before {
	display: block;
	position: absolute;
	content: " ";
	width: 40px;
	height: 36px;
	left: 0;
	top: 0;
	background: url(../images/ui/tab-bg-corners.png) no-repeat -36px 0px;
}
*/

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-shadow: -1px -1px #201106;
	font-weight: 300;
	position: relative;
	padding: 8px 20px;
}
